# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Large datasets & downloaded raw/processed data
*.csv
*.xlsx
*.parquet
data/raw/*
!data/raw/.gitkeep
!data/raw/**/.gitkeep
data/processed/*
!data/processed/.gitkeep
!data/processed/**/.gitkeep
data/external/*
!data/external/.gitkeep
!data/external/**/.gitkeep

# Trained models
*.pkl
*.joblib
*.h5
*.pt
*.pth